.invisible {
    visibility: hidden;
}
.bold {
    font-weight: 700;
}
.light {
    font-weight: 300;
}
.relative {
    position: relative;
}
.middle {
    vertical-align: middle;
}
.inlineBlock {
    display: inline-block;
}

for num in range(10, 36) {
    .p{num} {
        font-size: num + 0px;
        line-height: 1.5em;
    }
}
